{% extends 'home.html' %}

{% block content %}
    <h1>Available Rooms</h1>
    <div id="main-rooms-content">
        <div class="room-list">
            {% for room in rooms %}
                <div class="room-card">
                    <div class="room-card-header">
                        {{ room.name }}
                    </div>
                    <button class="room-card-id" onclick="handleRoomSelect({{ room.id }})">ID: {{ room.id }}</button>
                </div>
            {% endfor %}
            <script>
                function handleRoomSelect(roomID) {
                    const data = {username: "JohnDoe",roomID : roomID};
                    fetch("TODO", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    })
                        .then(response => response.text())
                        .then(result => console.log(result));
                }
            </script>
        </div>
    </div>


{% endblock %}